<a href="https://colab.research.google.com/github/yadavkumarpankaj/python_learning/blob/main/pandas/Pandas_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Part 2

In [59]:
import pandas as pd
import numpy as np
import seaborn as sns

In [44]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [47]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [61]:
s=df['Name'][0:11]

In [62]:
s

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [63]:
  len(s)

11

In [64]:
type(s)

pandas.core.series.Series

In [65]:
s

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [66]:
l = ['sudh','a','b','c','d','e','f','g','h','i','j']

In [67]:
s

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [68]:
s1 =pd.Series(list(s),index=l)

In [69]:
s1

sudh                              Braund, Mr. Owen Harris
a       Cumings, Mrs. John Bradley (Florence Briggs Th...
b                                  Heikkinen, Miss. Laina
c            Futrelle, Mrs. Jacques Heath (Lily May Peel)
d                                Allen, Mr. William Henry
e                                        Moran, Mr. James
f                                 McCarthy, Mr. Timothy J
g                          Palsson, Master. Gosta Leonard
h       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
i                     Nasser, Mrs. Nicholas (Adele Achem)
j                         Sandstrom, Miss. Marguerite Rut
dtype: object

In [70]:
s

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [71]:
s[0]

'Braund, Mr. Owen Harris'

In [72]:
s1['sudh']

'Braund, Mr. Owen Harris'

In [73]:
s2 = s1.append(s)

<ipython-input-73-fbe6a73a1c7c>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [74]:
s2

sudh                              Braund, Mr. Owen Harris
a       Cumings, Mrs. John Bradley (Florence Briggs Th...
b                                  Heikkinen, Miss. Laina
c            Futrelle, Mrs. Jacques Heath (Lily May Peel)
d                                Allen, Mr. William Henry
e                                        Moran, Mr. James
f                                 McCarthy, Mr. Timothy J
g                          Palsson, Master. Gosta Leonard
h       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
i                     Nasser, Mrs. Nicholas (Adele Achem)
j                         Sandstrom, Miss. Marguerite Rut
0                                 Braund, Mr. Owen Harris
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                  Heikkinen, Miss. Laina
3            Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                Allen, Mr. William Henry
5                                        Moran, Mr. James
6                                 McCarthy, Mr. Timothy J
7                          Palsson, Master. Gosta Leonard
8       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                     Nasser, Mrs. Nicholas (Adele Achem)
10                        Sandstrom, Miss. Marguerite Rut
dtype: object

In [75]:
s2[4]

'Allen, Mr. William Henry'

In [76]:
s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])

In [77]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [78]:
s5 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [79]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [80]:
s6 = s4.append(s5)

<ipython-input-80-76bc3a4c3bb8>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [81]:
s6

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [82]:
s6[4]

4      4
4    345
dtype: int64

In [83]:
s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64